mcp
fastmcp
google-cloud-logging
requests
python-dotenv
google-adk
google-cloud-aiplatform
google-cloud-secret-manager
huggingface_hub
google-cloud-storage
ruff
mypy
types-requests
openai
httpx
boto3
